// Pull globals for individually compiled css files
@import "../globals/allGlobals";

/* ==========================================================================
    Modules -- Version: 0.4.0
   ========================================================================== */

.box-column {
  @extend %clearfix !optional;
  padding: ($padding);
  @include margin($margin / 2, 0, $margin);
  background: $site-background;
  border: 1px solid $color-light-grey;
  @include border-radius;
  overflow: auto;
}

.more {
  display: table;
  @include margin(0,auto);
  a {
    @include padding(.675em,1em);
    border: 1px solid $text;
    color: $text;
    font-weight: 300;
  }
}

.post_title {
  @include font-size(24);
  font-weight: 100;
}

hr {
  @include margin($margin,0);
  border: 0;
  border-top: 1px solid $text-light-grey;
  border-bottom: 1px solid $text-white;
}